PORT=<PORT>

# DB Secret
MONGO_URI=<MONGO_URI>

# JWT Secret
JWT_SECRET=<JWT_SECRET>

# Cloudinary Secrets
CLOUDINARY_CLOUD_NAME=<CLOUDINARY_CLOUD_NAME>
CLOUDINARY_API_KEY=<CLOUDINARY_API_KEY>
CLOUDINARY_API_SECRET=<CLOUDINARY_API_SECRET>

# AWS Secrets
AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY

FE_BASE_URL=<FE_BASE_URL>